body {
  background-color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  color: #c21f20;
  margin-top: 2.3em;
}

h2 {
  color: #991f1b;
}

h3 {
  color: #454545;
  font-size: 1.1em;
  margin-bottom: 1%;
}

a {
  color: #0D4252;
  text-decoration: none;
  font-weight: 600
}

p {
  margin-top: 0;
}

.container {
  margin: 2em auto;
  padding-left: 15%;
  padding-right: 15%;
}

.site-header {
  background-color: #c21f20;
  border-bottom:  1.3px solid #8B0000;
}

#back-to-showcase {
  text-align: center;
  padding-top: 1em;
}

#back-to-showcase a {  
  font-weight: 300;
}

footer {  
  padding: 0;
  margin: 15px auto 0;
  height: 0%;
  background-color: #DCDCDC;
}

footer p {
  padding: 1%;
  margin: 0;
  text-align: center;
}

nav a {
  color: white;
  display: block;
  padding: .6em 0.875em;
  
}

nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}

.caption {
  display: block;
  font-family: 'Bubbler One', serif;
  color: #696969;
  font-size: 1em;
}

.button {
  background-color: #FF0018;
  padding: .4em;
  margin: 1em;
  max-width: 80%;
  text-align: center;
  font-size: .8em;
  border-radius: .6em;
  border: 1.3px solid #8B0000;
}

.button a {
  color: white;
}

.button:hover {
  background-color: #c4000c;
}

.image-left {
  overflow: auto;
}

.viz-detail ol li {
  list-style-type: lower-alpha;
  font-weight: 500;
}

ol > li{
  list-style-type: upper-alpha;
  font-weight: 600;
}

#getting-started-questions {
  padding-bottom: 1em;
}

@media (max-width: 38.75em) {
    
    img {
      width: 80%;
      display: block;
    }
    
    .content {
      font-size: 1.5em;  
    }
  
    .container {
      margin: 0;
      padding: 25px;
    }
  
    footer p {
      padding: 1% 25px;
      margin: 0;
    }
  
    h1 {
      margin-top: 1.5em;
    }
  
    .caption { 
      font-size: 1em;
    }
  
    .button {
      font-size: 1em;  
    }
  
    nav > ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
    }
  
}

@media (min-width: 38.75em) {
    
    img {
      max-width: 100%;
    }
  
    .images {
      display: block;
      float: left;
      max-width: 30%;
      margin-right: 1.3em;
    }
    
    .image-pair {
      margin-left: 30%;
      padding-left: 2em;
    }
}

/* List Reset */
.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Assistive */
.visuallyhidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  border: 0;
  white-space: nowrap;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  position: static;
  margin: 0;
  height: auto;
  width: auto;
  clip: auto;
  overflow: visible;
}

/******************************/
/*! jQuery/JavaScript Styles  */
/******************************/

/* Headroom */
.headroom {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 200;
  will-change: transform;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.headroom--pinned {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
}

.headroom--unpinned {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}